<div class="todo-items">
  <div class="todo-item">
    <input type="checkbox" [(ngModel)]="todo.done" (change)="complete(todo)" />

    <div *ngIf="!isEditing; else editing"
      class="todo-item-label"
      [ngClass]="{ completed: todo.done }"
      (dblclick)="initEditing(todo)">
      {{ todo.label }}
    </div>

    <ng-template #editing>
      <input [(ngModel)]="todo.label"
        (blur)="edit(todo)"
        (keyup.enter)="edit(todo)"
        (keyup.esc)="cancelEditing(todo)"
        type="text"
        class="todo-item-edit"
        autofocus
      />
    </ng-template>

  </div>
  <div class="remove-btn" (click)="delete(todo.id)">&times;</div>
</div>
